.FileUpload {
    span {
        font-size: 16px;
        color: #323232;
        font-weight: 800;
    }
    label {
        width: 100%;
        padding: 1rem;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 1px solid #323232;
        margin-top: 0.25rem;
        color: #696969;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .uploadIcon {
            max-width: 30px;
            max-height: 30px;
        }
    }
}
